:root {
  color-scheme: light dark;
}

.card{
    color: #ffffff;
    background-color: #1a1a1a;
    width: 210px;
    border-radius: 10px;
    padding: 1rem 2rem;
    border: 4px solid transparent;
}

.card:hover{
  border-color: aqua;
}



.description p{
  font-size: 20px;
  margin: 0;
}

.quant{
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  color:aqua ;
}

@media (prefers-color-scheme: light) {

    .card{
      background-color: #213547;
      
    }

    .quant{
      color:aqua
    }

  }

  @media(max-width:650px){
    .card {
        padding-bottom: 0rem;
    }
}
  