:root {
    color-scheme: light dark;
}


th {
    background-color: #1a1a1a;
}

th {
    padding: 1rem;
    text-align: left;
}

td {
    padding: .5rem 1rem;
}

.itens {
    width: 300px;
}

.qtd {
    width: 200px;
}

.acoes {
    width: 200px;
}

.btn_acoes_ver {
    background-color: #ffffff;
    color: #000000;
}

.btn_acoes_atualizar {
    background-color: rgb(107, 216, 107);
    color: #000000;
}

.btn_acoes_excluir {
    background-color: rgb(252, 65, 65);
    color: #000000;
}

table {
    border-spacing: 0;
}

@media (prefers-color-scheme: light) {

    th {
        background-color: #213547;
        color: #ffffff;
    }

    .btn_acoes_ver {
        background-color: rgb(201, 250, 250);
        color: #000000;

    }

}