.id {
    width: 20%;
}

.nome, .categoria, .estoque
{
    width: 15%;
}

.acoes {
    width: 55%;
}

table{
    width: 100%;
}

button{
    margin-right: 20px;
}


@media(max-width: 1050px) {

    button{
        margin-bottom: 10px;
    }
}
