:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  gap: 3rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #d0adf0;
}
a:hover {
  color: aqua;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 2rem;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

button , input, select, textarea{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

td{
  border-bottom: 1px solid #ffffff2d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #2135473f;
  }

  td{
    border-bottom: 1px solid #0000004d;
  }

  input, select, textarea{
    background-color: #213547a4;
    color: #ffffff;
  }
}


